<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= form_with(model: task, local: true) do |t| %>
      <%= render 'layouts/error_messages', model: t.object %>
    
      <div class="form-group">
        <%= t.label :status, 'ステータス' %>
        <%= t.text_field :status, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= t.label :content, 'タスク' %>
        <%= t.text_field :content, class: 'form-control' %>
      </div>
      
      <%= t.submit '作成', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>